@import "vars";

@mixin focusable($color) {
  &:focus-visible {
    box-shadow: 0 0 0 $focus-outline $color;
  }
}

@mixin disabled($color) {
  cursor: default;
  background-color: $color;
  &:hover {
    background-color: $color;
  }
}