// COLORS
$primary-green: #0aaa0a;
$hover-green: #328c32;
$focus-green: rgba(10, 170, 10, 0.5);
$disabled-green: rgba(10, 170, 10, 0.3);

$primary-blue: #1e6ecd;
$hover-blue: #1e6eaf;
$focus-blue: rgba(30, 110, 205, 0.5);
$disabled-blue: rgba(30, 110, 205, 0.3);

$primary-red: #d0203c;
$hover-red: #af162d;
$focus-red: rgba(208, 32, 60, 0.5);
$disabled-red: rgba(208, 32, 60, 0.3);

$primary-dark: #151515;
$hover-dark: #0a0a0a;
$focus-dark: rgba(21, 21, 21, 0.5);
$disabled-dark: rgba(21, 21, 21, 0.3);

$primary-yellow: #efc700;
$hover-yellow: #d2af02;
$focus-yellow: rgba(239, 199, 0, 0.5);
$disabled-yellow: rgba(239, 199, 0, 0.3);

// BORDER
$border-radius: 4px;

// ANIMATION
$transition: .2s;

// SELECTORS
$focus-outline: 4px;

